    <div id="newPopupCredits" class="newModal">
        <div class="newModalContainer">
            <div class="newModalTitle">
                <div class="newModalTileText">Credits</div>
                <div class="newModalTileCross" onclick="$(this).closest('.newModal').css('display','none');"></div>
            </div>
            <div class="newModalContent">

                <h1>Datenquellen</h1>

                <div style="padding-left:15px">

                    <h2>Wetter</h2>
                    <ul>
                        <!--
                        <li><a target="_blank" href="https://www.ncdc.noaa.gov/data-access/model-data/model-datasets/global-forcast-system-gfs">GFS</a></li>
                        -->
                        <li><a target="_blank" href="https://www.ecmwf.int">ECMWF</a></li>
                        <li><a target="_blank" href="http://www.meteofrance.com">Météo France</a></li>
                        <li><a target="_blank" href="https://www.ncdc.noaa.gov">NOAA</a></li>
                    </ul>

                    <h2>Flüge</h2>
                    <ul>
                        <li><a target="_blank" href="http://www.paraglidingforum.com/leonardo">Paragliding Forum</a></li>
                        <li><a target="_blank" href="https://www.xcontest.org">XContest</a></li>
                        <li><a target="_blank" href="https://www.dhv-xc.de">DHV-XC</a></li>
                        <li><a target="_blank" href="https://parapente.ffvl.fr/cfd">CFD</a> </li>
                        <li><a target="_blank" href="http://www.xcleague.com">XC League</a></li>
                    </ul>

                    <h2>Kartenkacheln</h2>
                    <ul>
                        <li><a target="_blank" href="https://www.osm.ch/">OpenStreetMap Switzerland</a></li>
                        <li>Map tiles by <a target="_blank" href="http://stamen.com">Stamen Design</a>, under <a target="_blank" href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a target="_blank" href="http://openstreetmap.org">OpenStreetMap</a>, under <a target="_blank" href="http://www.openstreetmap.org/copyright">ODbL</a>.</li>
                    </ul>

                    <h2>Geographie</h2>

                    <ul>
                        <li><a target="_blank" href="https://www.naturalearthdata.com">Natural Earth</a></li>
                        <li><a target="_blank" href="https://github.com/simonepri/geo-maps">Geo-Maps</a></li>
                    </ul>


                    <h2>Fluggelände</h2>
                    <ul>
                        <li><a target="_blank" href="http://www.paraglidingspots.com">paraglidingspots.com</a></li>
                    </ul>

                </div>


                <h1>Bilder</h1>

                <ul>
<!-- copyright, search, mobile, about, info, target, GPS, android, desktop, arrows, key, API, remove, email, email-send -->
                    <li>Icons made by <a target="_blank" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
<!-- mobile web -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
<!-- science -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- prev/next -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/egor-rumyantsev" title="Egor Rumyantsev">Egor Rumyantsev</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- side results -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/good-ware" title="Good Ware">Good Ware</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- buy -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon" target="_blank">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- Facebook logo -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/simpleicon" title="SimpleIcon">SimpleIcon</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a target="_blank" href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
   
<!-- Link -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/creaticca-creative-agency" title="Creaticca Creative Agency">Creaticca Creative Agency</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- Settings -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>

<!-- Layers -->
                    <li>Icons made by <a target="_blank" href="https://www.flaticon.com/authors/cole-bemis" title="Cole Bemis">Cole Bemis</a> from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></li>
                </ul>

                <h1>Bibliotheken</h1>

                <div style="padding-left:15px">

                    <h2>C++</h2>
                    <ul>
                        <li><a target="_blank" href="https://www.qt.io/">Qt</a></li>
                    </ul>

                    <h2>Python</h2>
                    <ul>
                        <li><a target="_blank" href="https://www.tensorflow.org/">TensorFlow</a></li>
                        <li><a target="_blank" href="https://keras.io/">Keras</a></li>
                        <li><a target="_blank" href="http://www.numpy.org/">NumPy</a></li>
                        <li><a target="_blank" href="https://jswhit.github.io/pygrib">pygrib</a></li>
                    </ul>

                    <h2>Javascript</h2>
                    <ul>
                        <li><a target="_blank" href="https://leafletjs.com">Leaflet</a></li>
                        <li><a target="_blank" href="http://osmnames.org">OSM Names</a></li>
                        <li><a target="_blank" href="https://jquery.com">jQuery</a></li>
                        <li><a target="_blank" href="https://momentjs.com">Moment.js</a></li>
                        <li><a target="_blank" href="https://sentry.io/for/javascript">Sentry</a></li>
                        <li><a target="_blank" href="https://prismjs.com">Prism</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

