    <div id="newPopupLegendDefinition" class="newModal">
        <div class="newModalContainer">
            <div class="newModalTitle">
                <div class="newModalTileText">Legende</div>
                <div class="newModalTileCross" onclick="$(this).closest('.newModal').css('display','none');"></div>
            </div>
            <div class="newModalContent">

                <h1>Kann ich fliegen?</h1>
                <p>
                    Wahrscheinlichkeit, dass ein Flug gemeldet wird — gegeben den vollständigen Wettervektor des Tages und eine angenommene lokale Gleitschirmflieger-Population.
                </p>

                <h1>Kann ich XC fliegen?</h1>
                <p>
                    Wahrscheinlichkeit, dass ein Flug mit 60 Punkten oder mehr (PWC-Wertung) gemeldet wird — gegeben den vollständigen Wettervektor des Tages und eine angenommene lokale Gleitschirmflieger-Population.
                </p>

                <h1><pan style="color:#C35E5E">Wind</pan></h1>
                <p>
                    1 − 3/2 × (Wahrscheinlichkeit, dass ein Flug gemeldet wird — gegeben nur die windbezogenen Wetterparameter und eine angenommene lokale Gleitschirmflieger-Population)
                </p>

                <h1><pan style="color:#C35E5E">Feuchtigkeit</pan></h1>
                <p>
                    1 − 3/2 × (Wahrscheinlichkeit, dass ein Flug gemeldet wird — gegeben nur die feuchtigkeitsbezogenen Wetterparameter und eine angenommene lokale Gleitschirmflieger-Population)
                </p>

            </div>
        </div>
    </div>


