    <div id="newPopupLinks" class="newModal">
        <div class="newModalContainer">
            <div class="newModalTitle">
                <div class="newModalTileText">Links</div>
                <div class="newModalTileCross" onclick="$(this).closest('.newModal').css('display','none');"></div>
            </div>
            <div class="newModalContent">

                <h1>Andere Websites für die Flugwetter-Frage</h1>

                <div style="padding-left:15px">
                    <h2>Vorhersagen</h2>

                    <ul>
                        <li><a target="_blank" href="https://meteo-parapente.com">meteo-parapente.com</a></li>
                        <li><a target="_blank" href="http://www.meteociel.fr">meteociel.fr</a></li>
                        <li><a target="_blank" href="https://www.meteoblue.com">meteoblue.com</a></li>
                    </ul>

                    <h2>Echtzeit</h2>

                    <ul>
                        <li><a target="_blank" href="https://www.spotair.mobi/">SpotAiR</a></li>
                    </ul>
                </div>

                <h1>Sehenswerte Projekte</h1>

                <div style="padding-left:15px">
                    <ul>
                        <li><a target="_blank" href="https://thermal.kk7.ch/">Paragliding Thermal Maps</a></li>
                        <li><a target="_blank" href="https://github.com/leonardoxc/leonardoxc">Leonardo XC</a></li>
                        <li><a target="_blank" href="http://www.parange.ch/">Hike & Fly Planer</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


