<div id="analysisNavigationBar" class="navigationBar" style="visibility:hidden; width:100%">
    <div id="analysisNavigationBarContainer">
        <div id="analysisNavigationBarContent">
            <div class="bottomPopupContent">
                <div class="bottomPopupContent2" style="padding-left: 2px; padding-right: 2px">
                    <div class="bottomPopupHeaderCross" onclick="switchMode('main')"></div>
                        
<div id="calendar" class="datepicker-container"></div>

                </div>
            </div>
            <div class="bottomPopupHeader">
                <div class="bottomPopupHeaderText">
                <img style="vertical-align:middle" src="imgs/icons/analysis.svg" height="11"> <pan style="position:relative;vertical-align:middle;bottom:1px">Vergangene Daten</pan>
                </div>
            </div>
        </div>
    </div>
</div>



