    <div id="topLeftShadowHider"></div>
    <div id="header">
        <div id="menuButtonsBar">

<!-- menuButtonsBar: Burger öffnet die Seitenleiste (partials/drawer.html) -->

<div id="drawerToggle" title="Menü" onclick="toggleDrawer()"><i></i><i></i><i></i></div>

<div>
    <div class="menuButtonExpandable">
      <input autocomplete="off" id="searchInput" type="text" placeholder="Ort"/>
      <div class="menuButton" id="menuButtonSearch" title="Ort suchen" onclick="expandSearch();$('#searchInput').focus();"></div>
    </div>
</div>

<!-- menuButtonsBar -->

        </div>

        <div id="currentDate"></div>

        <div id="brand">Para<b>glidable</b><span class="brandClaim">Praxisfall &bdquo;Softwaremodernisierung mit KI&ldquo;</span></div>

    </div>

{% include "partials/drawer.html" %}

        <div id="headerMapControls">
            <div class="mapControlButton" id="mapControlButtonPlus" title="Hineinzoomen" onclick="mapZoom(+1)"></div>
            <div class="mapControlButton" id="mapControlButtonMinus" title="Herauszoomen" onclick="mapZoom(-1)"></div>
            <div class="mapControlButton dropdown2" id="mapControlButtonLayers" title="Ebenen">
                <div class="dropdown-content2">
            <li id="checkboxShowHideMapColors" onclick="switchLayersVisibility(0)">Kartenfarben</li>
            <li id="checkboxShowHideSpots" onclick="switchLayersVisibility(1)">Startplätze</li>
                </div>
            </div>
            <div class="mapControlButton bottom" id="mapControlButtonGps" title="GPS" onclick="mapGps()">
                <img id="mapControlButtonGpsIcon" src="imgs/icons/gps.svg" />
            </div>
        </div>

