    <div id="hideShadow"></div>
    <div id="legend" class="tooltip" onclick="switchVisibility('newPopupLegendDefinition')">
        <span class="tooltiptext">Klicken für<br>Definition<div class="tooltip--tip"></div></span>
        <div class="legendSection" id="legendSectionPredictions">
            <div id="legendTop" class="legendLine">
                <div class="legendTopFieldTitle" style="flex:0 0 37px">Lat:&nbsp;</div>
                <div class="legendTopFieldVal" style="flex:0 0 65px" id="legendTopLat"></div>
                <div class="legendTopFieldTitle">Lon:&nbsp;</div>
                <div class="legendTopFieldVal"style="flex:0 0 63px" id="legendTopLon"></div>
                <div class="legendTopFieldTitle" style="flex: 0 0 26px">Alt:&nbsp;</div>
                <div class="legendTopFieldVal" id="legendTopAlt"></div>
            </div>
            <div class="legendLine">
                <div class="legendLineName">fliegen?</div>
                <div class="legendLineValue">
                    <div id="legendImg1" class="legendImg colorMap">
                        <div id="legendVal1" class="legendVal">
                            <div class="legendValA"></div>
                            <div class="legendValB"></div>
                            <div class="legendValA"></div>
                        </div>
                        <div id="legendValTxt1" class="legendValTxt"></div>
                    </div>
                </div>
            </div>
            <div class="legendLine">
                <div class="legendLineName">XC fliegen?</div>
                <div class="legendLineValue">
                    <div id="legendImg2" class="legendImg colorMap">
                        <div id="legendVal2" class="legendVal">
                            <div class="legendValA"></div>
                            <div class="legendValB"></div>
                            <div class="legendValA"></div>
                        </div>
                        <div id="legendValTxt2" class="legendValTxt"></div>
                    </div>
                </div>
            </div>
            <!--
            <div class="legendLine">
                <div class="legendLineName">Nb flights</div>
                <div class="legendLineValue">
                    <div id="legendImg3" class="legendImg">
                        <div id="legendVal3" class="legendVal">
                            <div class="legendValA"></div>
                            <div class="legendValB"></div>
                            <div class="legendValA"></div>
                        </div>
                        <div id="legendValTxt3" class="legendValTxt"></div>
                    </div>
                </div>
            </div>
            -->
            
            <div id="legendFlights" style="display:none" class="legendLine">
                <div class="legendLineName">Flug-Score</div>
                <div class="legendLineValue">
                    <div id="legendImg4" class="legendImg colorMap">
                        <svg width="200" height="20">
                            <circle cx="20"  cy="10" r="2.5"    stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="41"  cy="10" r="3.1875" stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="62"  cy="10" r="3.875"  stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="83"  cy="10" r="4.5625" stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="104" cy="10" r="5.25"   stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="125" cy="10" r="5.9375" stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="146" cy="10" r="6.625"  stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="167" cy="10" r="7.3125" stroke="#000000" stroke-width="1" fill="#5050FF" />
                            <circle cx="188" cy="10" r="8"      stroke="#000000" stroke-width="1" fill="#5050FF" />
                        </svg>
                    </div>
                </div>
            </div>

        </div>
        <div class="legendSection" id="legendSectionKeywords"></div>
    </div>

